<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>查询结果</title>
       <link rel="icon" href="{{static_url('images/favicon.jpg')}}">
     <link href="{{static_url('bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
<h1>查询结果</h1>
<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>得分</th>
        <th>学年</th>
        <th>学期</th>
    </tr>
    {% for r in re %}
    <tr>
        <td>{{r.stunum}}</td>
        <td>{{r.stuname}}</td>
        <td>{{r.stuscore}}</td>
        <td>{{r.year}}</td>
        <td>{{r.term}}</td>
    </tr>
    {% end %}
</table>
<a href="/tem">返回</a>

<script src="{{static_url('jquery.min.js')}}"></script>
<script src="{{static_url('bootstrap.min.js')}}"></script>
</body>
</html>