<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>实验室管理系统</title>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
</style>
</head>
<body background="http://www.njupt.edu.cn/page/main1862/css/images/11.jpg">
<nav class="navbar navbar-inverse ">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav" id="navinfo">
<li ><a href="/thm" style="font-size:30px" >事务信息 </a></li>
<li><a href="/tem" style="font-size:30px">教学信息</a></li>
<li><a href="/prm" style="font-size:30px">项目信息</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a style="color:#FFFFFF">您好，吴凡</a></li>
<li><a href="/logout">退出登陆</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="padding-top:20px">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
<li data-target="#carousel-example-generic" data-slide-to="3"></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
<div class="item active">
<img src="http://www.njupt.edu.cn/picture/article/1/4b/87/e13a78fd48fba5f87113afe1603d/363251be-aa8d-42bc-b3fd-c9fca11884a9.jpg" alt="nupt1">
<div class="carousel-caption">
content
</div>
</div>
<div class="item">
<img src="http://www.njupt.edu.cn/picture/article/1/88/94/b4f4dbbb4a1285388406f9aabee9/d9b093ff-70d0-480d-9a78-a9c5fd14b1f5.jpg" alt="nupt2">
<div class="carousel-caption">
content
</div>
</div>
<div class="item">
<img src="http://www.njupt.edu.cn/picture/article/1/4b/cd/700d640e45d99ba8d2248c6ea5c5/b753afb4-54b3-4345-b912-5349dae306bd.jpg" alt="nupt3">
<div class="carousel-caption">
content
</div>
</div>
<div class="item">
<img src="http://www.njupt.edu.cn/picture/article/1/a1/17/18d1210d4af8ba420557ccc5c13d/a08f152a-6228-4648-afbd-ca2473f814f6.jpg" alt="nupt4">
<div class="carousel-caption">
content
</div>
</div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">上一个</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">下一个</span>
</a>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>