<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>事务管理</title>
     <link rel="icon" href="{{static_url('images/favicon.jpg')}}">
     <link href="{{static_url('bootstrap.min.css')}}" rel="stylesheet">
</head>
<body background="{{static_url('images/nuptbg.jpg')}}">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="/thm/device" style="font-size:30px">设备</a></li>
          <li><a href="/thm/worker" style="font-size:30px">勤工助学</a></li>
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:30px">日志 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/thm/record/new">新建日志</a></li>
            <li><a href="/thm/record/search">查询日志</a></li>
            <li><a href="/thm/record/all">查看全部</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/thm/record/download/d">导出文件</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a style="color:#FFFFFF">您好，{{user[0].real_name}}</a></li>
        <li><a href="/logout">退出登陆</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script src="{{static_url('jquery.min.js')}}"></script>
<script src="{{static_url('bootstrap.min.js')}}"></script>
</body>
</html>